/* NX = not expanded */
:root {
	--primary: #7cc529;
	--dark: #061b28;
	--gray: #756388;
	--light: #ffffff;
  --secondary: #503524;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* comman css */
.secondary-color{
  color: var(--secondary);
}
.primary-color{
  color: var(--primary);
}
.primary-bg{
background-color: var(--primary);
}
.secondary-bg{
  background-color: var(--secondary);
}
.border-color{
  border-color: var(--secondary);
  opacity: 0.5;
}
.border-radius-15{
 border-radius: 10px !important;
}
.b-t-l-c-raidus-10{
  border-top-left-radius: 10px;
}
.b-t-r-c-raidus-10{
  border-top-right-radius: 10px;
}
.b-b-l-c-raidus-10{
  border-bottom-left-radius: 10px;
}
.b-b-r-c-raidus-10{
  border-bottom-right-radius: 10px;
}



.QuestionBox{
  transition: all 0.2s ease-in-out;
}
.QuestionBox:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: translateY(-5px);
}
.radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid #ccc;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  outline: none;
}

button:focus{
  outline: none;

}


