
.side-nav-container {
	background-color: var(--dark) ;
	width: 300px;
	height: 100vh;
	position: relative;
	color: var(--light);

	transition: 0.4s;
}
.side-nav-container-NX {
	width: 85px;
}
a{
	text-decoration: none;
}
a:hover{
	color: white;
}
.text-color-light{
	color: var(--light);
	
}
.nav-item{
	border-radius: 4px;
}
.nav-item:hover{
	background-color: var(--primary);
}
.nav-footer {
	width: 100%;
	height: 87px;
	position: absolute;
	bottom: 0;
}


