.login-box{
    width: 340px;
    box-shadow: rgba(10, 100, 43, 0.25) 0px 50px 100px -20px, rgba(0, 30, 0, 0.3) 0px 30px 60px -30px, rgba(105, 193, 142, 0.35) 0px -2px 6px 0px inset;
   
}
.register-text{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}
.register-text:hover{
    color: var(--secondary);
     border-bottom: 2px solid var(--secondary);
}
.fs-12{
    font-size: 12px;
}

/* header css  */
.border-bottom{
    border-color: var(--secondary) !important;
}
.outline-none:focus{
    box-shadow: none !important;
}
.nav-items > a:hover {
    color: var(--primary) !important;
}
.header-btn{
    border-color: var(--secondary);
}
.header-btn:hover{
    background-color: var(--primary) !important;
    color: white !important;
    border-color: var(--primary) !important;
}
.Container
{
    margin: 1rem ;
}
.main_box{
    box-shadow: rgba(31, 190, 63, 0.526) 0px 30px 60px -12px inset, rgba(69, 166, 64, 0.56) 0px 18px 36px -18px inset;
    padding: 1rem;

}
.Question_box
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
    box-shadow: rgba(136, 150, 143, 0.801) 0px 1px 2px 0px, rgba(69, 100, 50, 0.663) 0px 2px 6px 2px;
    background-color: white;
    height: fit-content;
}
.circle {
    width: 100px; /* Adjust the width and height according to your preference */
    height: 100px;
    border: 2px solid black; /* Set the border color and thickness */
    border-radius: 50%; /* Create a circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .number {
    font-size: 20px; /* Set the font size of the number */
    font-weight: bold;
  }
  .custom-circle
  {
    width: 150px;
  height: 150px;
        border: 5px solid #7CC529;
  }

  .labels-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: -60px; /* Adjust this value to position the labels correctly */
    transform: translateY(-50%);
  }
  
  .label {
    margin: 6px;
    text-align: center;
  }

  .level-categories{
    width: 7rem;
    height: 35px;
    border: 1px solid #7CC529;
    border-radius: 10px;
    margin-left:"2rem";
  }