.login-box{
    width: 340px;
    box-shadow: rgba(10, 100, 43, 0.25) 0px 50px 100px -20px, rgba(0, 30, 0, 0.3) 0px 30px 60px -30px, rgba(105, 193, 142, 0.35) 0px -2px 6px 0px inset;
   
}
.register-text{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}
.register-text:hover{
    color: var(--secondary);
     border-bottom: 2px solid var(--secondary);
}
.fs-12{
    font-size: 12px;
}

/* header css  */
.border-bottom{
    border-color: var(--secondary) !important;
}
.outline-none:focus{
    box-shadow: none !important;
}
.nav-items > a:hover {
    color: var(--primary) !important;
}
.header-btn{
    border-color: var(--secondary);
}
.header-btn:hover{
    background-color: var(--primary) !important;
    color: white !important;
    border-color: var(--primary) !important;
}
<<<<<<< HEAD
.username-btn, .username-btn:hover{
    border-color: var(--primary);
    color: var(--primary);
}
=======
.Container
{
    margin: 1rem ;
}
.main_box{
    box-shadow: rgba(31, 190, 63, 0.526) 0px 30px 60px -12px inset, rgba(69, 166, 64, 0.56) 0px 18px 36px -18px inset;
    padding: 1rem;

}
.Question_box
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
    box-shadow: rgba(126, 175, 143, 0.801) 0px 1px 2px 0px, rgba(69, 107, 87, 0.663) 0px 2px 6px 2px;
    background-color: white;
    height: fit-content;
}
>>>>>>> main
