.button-1{
	color: #7cc529;
	background-color: white;
	border: 1px solid #7cc529;
}
.button-1:hover{
	color: white;
	background-color: #7cc529;
}
.button-2{
	color: white;
	border: 0;
	background-color: #7cc529;
}
.button-type-box{
	box-shadow: rgba(0, 70, 0, 0.4) 0px 2px 4px, rgba(0, 70, 0, 0.3) 0px 7px 13px -3px, rgba(0, 70, 0, 0.2) 0px -3px 0px inset;
}