*{
	color: #503524;
}
.container_101{
	display: flex;
	justify-content: space-around;
}

.questionBox{
	border: 1px solid #7cc529;
	height: 60vh;
}
.solutionBox{
	box-shadow: rgba(10, 110, 43, 0.25) 0px 30px 60px -12px inset, rgba(0, 40, 0, 0.3) 0px 18px 36px -18px inset;
	height: 65vh;
	overflow-y: auto;
}

.solution-card{
	background-color: white;
	box-shadow: rgba(17, 77, 26, 0.1) 0px 4px 16px, rgba(17, 77, 26, 0.1) 0px 8px 24px, rgba(17, 77, 26, 0.1) 0px 16px 56px;
}
.solution-card .solution-title{
	position: relative;
	width: fit-content;
	background-color: white;
	transform: translate(0,-80%);
	box-shadow: rgba(0, 70, 0, 0.19) 0px 10px 20px, rgba(0, 70, 0, 0.23) 0px 6px 6px;
}

.userName-coin{
	border: 2px solid #7cc529;
	border-radius: 50%;
	box-shadow: rgba(0, 50, 0, 0.4) 0px 2px 4px, rgba(0, 50, 0, 0.3) 0px 7px 13px -3px, rgba(0, 50, 0, 0.2) 0px -3px 0px inset;
}
.comment-input{
	border: 0;
	width: 80%;
	border-bottom: 1px solid #503524;
}

.commentBox{
	height: 50vh;
	overflow-y: auto;
}
.comment-card{
	box-shadow: rgba(0, 50, 0, 0.19) 0px 10px 20px, rgba(0, 50, 0, 0.23) 0px 6px 6px;
}